<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>x-cloud 快速开发平台</title><link href="https://unpkg.com/element-plus@2.3.8/dist/index.css" rel="stylesheet">
<script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
<script src="https://unpkg.com/vue-demi@0.13.11"></script>
<script src="https://unpkg.com/vue-router@4.2.4"></script>
<script src="https://unpkg.com/element-plus@2.3.8/dist/index.full.js"></script>
<script src="https://unpkg.com/echarts@5.4.3"></script>
<script src="https://unpkg.com/@element-plus/icons-vue"></script>
    <script type="module" crossorigin src="/index-eb0c0c80.js"></script>
    <link rel="stylesheet" href="/index-91ee7136.css">
  </head>
  <body>
    <div id="app"></div>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?3ec1480116ae76803592100258146bf4";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    
  </body>
</html>
